@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.Birthday,
.Template {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.birthday_form {
  width: 40%;
  margin: 0 auto;
}

.global_section {
  width: calc(100% - 250px);
  margin-left: auto;
}

.field div {
  margin-top: 15px;
}

label {
  width: 150px;
  display: inline-block;
}

.submitButton {
  text-align: center;
}

.template_form {
  width: 40%;
  margin: 0 auto;
}